{
  "root": true,
  "extends": [
    "@react-native",
    "eslint-config-prettier"
  ],
  "rules": {
    "no-unused-vars": "error",
    "no-shadow": "off",
    "prettier/prettier": 0,
    "react-hooks/exhaustive-deps": "off",
    "react-hooks/rules-of-hooks": "off",
    "react/react-in-jsx-scope": "off",
    "react-native/no-inline-styles": "off"
  }
}